* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient(-30deg, #3498db 0%, #3a78b7 50%, #262626 50%, #607d8b 100%);
    min-height: 100vh;
    filter: hue-rotate(120deg);
    animation: bg-change 15s linear infinite;
}

@keyframes bg-change {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(3600deg);
    }
}

.box {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    padding: 50px;
    width: 360px;
    height: 480px;
    border-radius: 6px;
    box-shadow: 12px 12px 35px 6px rgb(0 0 0 / 54%);
}

.box::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    left: 5px;
    bottom: 5px;
    border-radius: 5px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.1) 15%, transparent 50%, transparent 50%, transparent 85%, rgba(255, 255, 255, 0.3) 100%, );
}

.box .form {
    position: relative;
    width: 100%;
}

.box .form h2 {
    color: #fff;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

.box .form .inputBx {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

.box .form .inputBx input {
    width: 100%;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    padding: 8px 10px;
    padding-left: 35px;
    border-radius: 6px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    box-shadow: inset 0 0 25px rgba(0, 0, 0, 0.1);
}

.box .form .inputBx input::placeholder {
    color: #fff;
}

.box .form .inputBx input [type="checkbox"] {
    background: #fff;
    color: #111;
    max-width: 100px;
    padding: 8px 10px;
    box-shadow: none;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.box .form .inputBx img {
    position: absolute;
    top: 13px;
    left: 10px;
    transform: scale(0.7);
    filter: invert(1);
}

.remember {
    position: relative;
    display: inline-block;
    color: #fff;
    font-weight: 300;
    margin: 0 0 10px 0;
    cursor: pointer;
}

.remember input {
    margin-right: 9px;
}

.box .form p {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin: 5px 0 0 0;
}

.box .form p a {
    color: #fff;
}